%center-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
%center-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
%center-without-align{
    display: flex;
    justify-content: center;
}