.cards .all--cards, .other-section .other-infotmations, main #carousel .button, main #carousel p, main #carousel .title, header .navbar, header .information {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
}
header .information {
  padding: 40px;
  gap: 120px;
}
header .information .infowords {
  display: flex;
  gap: 100px;
}
header .information .infowords .info {
  display: flex;
  gap: 20px;
}
header .information .infowords .info .headicon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1089ff;
  color: white;
}
header .information .infowords .info .headinfo h3 {
  font-family: "Poppins", sans-serif;
}
header .information .infowords .info .headinfo p {
  font-family: "Roboto", sans-serif;
}
header .information .hamburger {
  display: none;
  font-size: 20px;
}
header .navbar {
  width: 100%;
  background-color: #1089ff;
  z-index: 99;
  padding: 30px;
  gap: 30px;
}
header .navbar a {
  color: white;
  font-family: "Roboto", sans-serif;
}
header .navbar .after::after {
  content: " ";
  display: block;
  width: 100%;
  border: 1px solid white;
}

main {
  width: 100%;
  height: 600px;
}
main #carousel {
  width: 100%;
  height: 600px;
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_2.jpg");
  background-repeat: round;
  object-fit: cover;
  filter: brightness(92%);
}
main #carousel .title {
  font-size: 30px;
  padding-top: 120px;
  color: hsl(0, 100%, 100%);
}
main #carousel p {
  font-size: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
}
main #carousel .button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 2px;
  color: white;
}
main #carousel .button button {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 2px;
  color: white;
  border: none;
  background-color: #196d87;
  transition: all 0.3s ease;
  margin-top: 30px;
}
main #carousel .button button:hover {
  background-color: #5290a2;
}
main #carousel .button a {
  color: white;
}
main #carousel .arrow_buttons {
  display: none;
  justify-content: space-between;
}
main #carousel .arrow_buttons .fa-solid {
  font-size: 40px;
  padding-left: 11px;
  padding-top: 11px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}
main #carousel .arrow_buttons .fa-solid:hover {
  background-color: #5290a2;
}
main #carousel:hover > .arrow_buttons {
  display: flex !important;
  justify-content: space-between;
}

section {
  width: 100%;
}
section #hero {
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 20px;
}
section #hero #image {
  width: 550px;
  height: 350px;
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_2.jpg");
  background-size: cover;
  object-fit: cover;
}
section #hero .about-us p:nth-child(1) {
  font-family: "Dancing Script", cursive;
  color: #1089ff;
}
section #hero .about-us p:nth-child(1)::selection {
  background-color: black;
}
section #hero .about-us h1::selection {
  background-color: black;
}
section #hero .about-us .h_line {
  margin-top: 20px;
  width: 15%;
  border: 2px solid #1089ff;
}
section #hero .about-us .for-margin {
  margin-top: 25px;
}
section #hero .about-us .first-sentences {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 2;
}
section #hero .about-us .second-sentences {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 2;
}
section #hero .about-us .learn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 2px;
  color: white;
}
section #hero .about-us .learn button {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 2px;
  color: white;
  border: none;
  background-color: #196d87;
  transition: all 0.3s ease;
  margin-top: 30px;
}
section #hero .about-us .learn button:hover {
  background-color: #5290a2;
}
section #hero .about-us .learn button a {
  color: white;
}

.other-section {
  width: 100%;
}
.other-section .other-infotmations {
  gap: 50px;
}
.other-section .other-infotmations .inf-icons {
  font-size: 50px;
  color: #1089ff;
}
.other-section .other-infotmations p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 2;
}
.other-section .other-infotmations .for-margin {
  margin-top: 25px;
}

.statistic {
  width: 100%;
}
.statistic #static-info #photo {
  width: 100%;
  height: 220px;
  margin-top: 30px;
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
  font-weight: bold;
}
.statistic #static-info #photo::after {
  position: absolute;
  content: "";
  height: 220px;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 255, 0.267);
  z-index: 0;
}
.statistic #static-info #photo h2 {
  font-size: 40px;
  z-index: 99;
}
.statistic #static-info #photo p {
  font-weight: bold;
  font-size: 20px;
  z-index: 99;
}

.title_destinations {
  width: 100%;
}
.title_destinations .destinations {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.title_destinations .destinations p {
  font-family: "Dancing Script", cursive;
  color: #1089ff;
}
.title_destinations .destinations .y_line {
  border-bottom: 3px solid #1089ff;
  width: 100px;
  margin: auto;
  padding-top: 15px;
}

.cards {
  background-color: #f8f9fa;
  width: 100%;
}
.cards .all--cards {
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}
.cards .all--cards .card {
  width: 390px;
  height: 380px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards .all--cards .card .country {
  margin-left: 20px;
  margin-top: 8px;
}
.cards .all--cards .card .country .price-calendar {
  display: flex;
  justify-content: space-between;
}
.cards .all--cards .card .country a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-left: 15px;
}
.cards .all--cards .card .country .loc {
  color: #1089ff;
  font-size: 20px;
}
.cards .all--cards .card img {
  width: 390px;
  height: 300px;
  background-size: cover;
}
.cards .all--cards .card .price-calendar .fa-calendar-minus {
  font-size: 20px;
  color: gray;
}
.cards .all--cards .card .price-calendar .calendar {
  color: gray;
  font-size: 20px;
}
.cards .all--cards .card .price-calendar .price button {
  width: 70px;
  height: 30px;
  background-color: #1089ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.form-part {
  width: 100%;
  height: auto;
  margin-top: 200px;
}
.form-part .form-and-image {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.form-part .form-and-image #form-image {
  width: 550px;
  height: 400px;
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg");
  background-size: cover;
  object-fit: cover;
}
.form-part .form-and-image p:nth-child(1) {
  font-family: "Dancing Script", cursive;
  color: #1089ff;
}
.form-part .form-and-image p:nth-child(1)::selection {
  background-color: black;
}
.form-part .form-and-image h1 {
  font-size: 30px;
}
.form-part .form-and-image .h_line {
  margin-top: 20px;
  width: 45%;
  border: 1px solid #1089ff;
}
.form-part .form-and-image .form {
  width: 100%;
  margin-top: 10px;
}
.form-part .form-and-image .form form {
  color: gray;
  font-family: "Poppins", sans-serif;
}
.form-part .form-and-image .form form .name-number {
  display: flex;
  gap: 10px;
}
.form-part .form-and-image .form form .name-number .name label {
  font-size: 30px;
}
.form-part .form-and-image .form form .name-number .name input[type=text] {
  width: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-part .form-and-image .form form .name-number .number {
  font-size: 30px;
}
.form-part .form-and-image .form form .name-number input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form-part .form-and-image .date {
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: flex;
}
.form-part .form-and-image .date .from label {
  font-size: 30px;
}
.form-part .form-and-image .date .from input[type=date] {
  margin-top: 8px;
  width: 70%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-part .form-and-image .date .to {
  margin-left: 52px;
}
.form-part .form-and-image .date .to label {
  font-size: 30px;
}
.form-part .form-and-image .date .to input[type=date] {
  margin-top: 8px;
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-part .form-and-image .options {
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
.form-part .form-and-image .options select {
  margin-top: 8px;
  width: 75%;
  padding: 16px 20px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}
.form-part .form-and-image .mail-phone {
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: flex;
}
.form-part .form-and-image .mail-phone .mail label {
  font-size: 30px;
}
.form-part .form-and-image .mail-phone .mail input[type=email] {
  margin-top: 8px;
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-part .form-and-image .mail-phone .phone {
  margin-left: 52px;
}
.form-part .form-and-image .mail-phone .phone label {
  font-size: 30px;
}
.form-part .form-and-image .mail-phone .phone input[type=tel] {
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-top: 8px;
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.form-part .form-and-image .notes {
  margin-top: 20px;
}
.form-part .form-and-image .notes textarea {
  width: 620px;
  height: 200px;
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
.form-part .form-and-image .row input {
  color: white;
  background-color: #1089ff;
  width: 120px;
  height: 50px;
  border: 5px;
}

@media (max-width: 992px) {
  header .information {
    justify-content: space-around;
  }
  header .information .infowords {
    display: none;
  }
  header .hamburger {
    display: block !important;
  }
  header .navbar {
    display: none;
  }
}
@media (max-width: 992px) {
  main .title {
    padding-top: 150px !important;
    font-size: 22px !important;
  }
  main p {
    font-size: 16px !important;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  section #image {
    width: 450px !important;
    height: 220px !important;
    object-fit: cover;
    background-size: cover;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  section #hero {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  section #image {
    width: 450px !important;
    height: 220px !important;
    object-fit: cover;
    background-size: cover;
  }
  section #hero {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .other-section .other-infotmations {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .statistic #photo {
    height: 280px !important;
    flex-wrap: wrap;
  }
  .statistic #photo::after {
    height: 280px !important;
    display: block;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .statistic #photo {
    height: 360px !important;
    flex-wrap: wrap;
  }
  .statistic #photo::after {
    height: 360px !important;
    display: block;
  }
}
@media (max-width: 576px) {
  .statistic #photo {
    height: 450px !important;
    flex-wrap: wrap;
  }
  .statistic #photo::after {
    height: 450px !important;
    display: block;
  }
}
@media (max-width: 992px) {
  .cards .all--cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .form-part .form-part #form-image {
    width: 250px !important;
    height: 250px !important;
  }
}/*# sourceMappingURL=main.css.map */