@import "../mixin";

@include for-not-large-desktop{
    header{
        .information{
            justify-content: space-around;
            .infowords{
                display: none;
            }
    
        }
        .hamburger{
            display: block !important;
        }
        .navbar{
            display: none;
        }
    }

}

@include for-not-large-desktop{
    main{
        .title{
            
            padding-top: 150px !important;
            font-size:22px !important;
           }
           p{
               font-size:16px !important;
           }

}
}

@include for-laptop{
    section{
        #image{
            width: 450px !important;
            height: 220px !important;
            object-fit: cover;
            background-size: cover;
        }
    }
}

@include for-tablet{
    section{
        #hero{
            flex-wrap: wrap;
            justify-content: center;
        }
}}
@include for-phone{
    section{
        #image{
            width: 450px !important;
            height: 220px !important;
            object-fit: cover;
            background-size: cover;
        }
        #hero{
            flex-wrap: wrap;
            justify-content: center;
        }
}}

@include for-not-large-desktop{
    .other-section{
        .other-infotmations{
            flex-wrap: wrap;
        }
    }
}

