@import "../mixin";

@include for-not-large-desktop{
    header{
        .information{
            justify-content: space-around;
            .infowords{
                display: none;
            }
    
        }
        .hamburger{
            display: block !important;
        }
        .navbar{
            display: none;
        }
    }

}

@include for-not-large-desktop{
    main{
        .title{
            
            padding-top: 150px !important;
            font-size:22px !important;
           }
           p{
               font-size:16px !important;
           }

}
}

@include for-laptop{
    section{
        #image{
            width: 450px !important;
            height: 220px !important;
            object-fit: cover;
            background-size: cover;
        }
    }
}

@include for-tablet{
    section{
        #hero{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .wrap_on_tablet{
        flex-wrap: wrap;
    }
    .form-part .form-and-image .form{
        padding: 10px;
    }
    .form-part .form-and-image{
        flex-wrap: wrap;
    }
    .customer{
        display: flex;
        flex-wrap: wrap;
    }
    .customers .customer .inf{
        height: 200px;
    }
    .contact_us{
        margin-top: 65px;
    }

}
@include for-phone{
    section{
        #image{
            width: 450px !important;
            height: 220px !important;
            object-fit: cover;
            background-size: cover;
        }
        #hero{
            flex-wrap: wrap;
            justify-content: center;
        }
    }  
    .wrap_on_tablet{
        flex-wrap: wrap;
    }
    .form-part .form-and-image .form{
        padding: 10px;
    }
    .form-part .form-and-image{
        flex-wrap: wrap;
    }
    .customer{
        display: flex;
        flex-wrap: wrap;
    }
    .customers .customer .inf{
        height: 200px;
    }
    .contact_us{
        margin-top: 65px;
    } 
}

@include for-not-large-desktop{
    .other-section{
        .other-infotmations{
            flex-wrap: wrap;
        }
    }
}

@include for-laptop{
    .statistic{
        #photo{
            height: 280px !important;
            flex-wrap: wrap;
            &::after{
                height: 280px !important;
                display: block;
    
            }
        }
    }
}
@include for-tablet{
    .statistic{
        #photo{
            height: 360px !important;
            flex-wrap: wrap;
            &::after{
                height: 360px !important;
                display: block;
    
            }
        }
    }
}
@include for-phone{
    .statistic{
        #photo{
            height: 450px !important;
            flex-wrap: wrap;
            &::after{
                height: 450px !important;
                display: block;
    
            }
        }
    }
}

@include for-not-large-desktop{
    .cards{
        .all--cards{
            flex-wrap: wrap;
    }
}
}
// @include for-large-desktop{
//     .form-part{
//         #form-image{
//             width: 400px !important;
//             height: 250px !important;
//         }
//         }
//     }

@include for-laptop{
    .form-part{
        .form-part{
            #form-image{
                width: 250px !important;
                height: 250px !important;
            }
            }
        }
    }


    @include for-not-large-desktop{
        .team{
            .container{

                flex-wrap: wrap;
        }
    }
    }


    @include for-laptop{
        .customers{
                .inf{
                    blockquote{
                        flex-wrap: wrap !important;
                    }
                }
            }
        }
        @include for-not-large-desktop{
            footer{
                .footer-part{
                    flex-wrap: wrap !important;
            }
        }
        }